@charset "UTF-8";

@font-face {
    font-family: 'Lato', sans-serif;
    font-family: Poiret One;
}

body {
    background-image:url(images/strawberry1%20-%20Copy.jpg);
    margin-top: 0;
    margin-bottom: 0;
    background-size: cover;
    font-family: poiret one;
}



header {
    background-color: #cc372d;
    width: 1196px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    margin-top: 0px;
}

nav {
    text-align: center;
    float: right;
    margin-right: 20px;
    margin-top: -2px;    

}

nav a{
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding-right: 10px;
    padding-left: 50px;
    font-size: 20px;
    font-family: Poiret One regular;
}

.image {
    width: 250px;
    height: 320px;
    margin-left: 50px;
}

.intro {
    margin-left: 510px;
    padding-top: 200px;

    
}

h1 {
    color: #cc372d;
    font-size: 110px;
}
h2 {
    color: #FF6857;
    font-size: 110px;
    margin-bottom: -20px;

}

h3 {
    font-family: 'Lato';
    color: #FF6857;
    letter-spacing: 0.03em;
}

h5 {font-size: 30px;
font-family: Poiret One;
    color: maroon;
}

p {
    font-family: 'noto sans jp';
    font-size: 14.5px;
    max-width: 300px;
    line-height: 22.3px;
    color: maroon;
}

h6 {
    color: white;
    font-size: 12px;
    font-family: Montserrat;
    margin-top: -7px;
    padding-top: 20px;
}
.prep {
        margin-left: 510px;
    margin-top: 151px;
    margin-bottom: 15px;
    color: gray;
}
.box {
    width: 1196px;
    height: 3400px;
    background-image: url(images/strawrecipe-03.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
}


.instructions {
    display: flex;
    flex-direction: column;
    margin-top: px;
}

.step1 {
    display: flex;
    flex-direction: column;
    margin-left: 183px;
    margin-top: 42px;
}
.step2 {
    display: flex;
    flex-direction: column;
    margin-left: 183px; 
    margin-top: 60px;
}

.step3 {
    display: flex;
    flex-direction: column;
    margin-left: 770px; 
    margin-top: -180px;
}

.recipeicon {
    width: 250px;
}

.icon1 {
    width: 25px;
    margin-top: 5px;
    margin-right: 15px;
}

.contact {
    width: 25px;
    margin-top: 10px;
}

footer {
    display: inline-grid;
    grid-template-columns:  190px 89px 86px 1200px;
    text-align: center;
    color: white;
    font-size: .8em;
    background-color: #cc372d;
   padding-top: 21px;
    padding-left: 45px;
    height: 59px;
    width: 1151px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}


.icon {
    width: 25px;
}

.dropbtn {
    background-color: #cc372d;
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    font-family: Poiret One;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    min-width: 160px;
    z-index: 2;
    text-align: left;
    margin-left: -25px;
    font-size: 10px;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    color: white;
    min-width: 160px;
    z-index: 2;
    text-align: left;
    margin-left: -8px;
    font-size: 10px;
}


.dropdown-content a{
    color: white;
    padding: 12px 6px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}
.dropdown-content1 a{
    color: white;
    padding: 12px 6px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {color: maroon; background-color: #cc372d;}
.dropdown-content1 a:hover {color: maroon; background-color: #cc372d;}

.dropdown:hover .dropdown-content {display: block; background-color: #cc372d;}
.dropdown:hover .dropdown-content1 {display: block; background-color: #cc372d;}

.dropdown:hover .drdopbtn:hover {background-color: #C54343;}

.logo {
    width: 80px;
    float: left;
    margin-top: 30px;
    margin-left: 35px;
}

.enjoy {
    margin-left: 498px;
    margin-top: -15px;
}

.recipeicon {
    height: 250px;
}

.bottom {
    margin-left: 210px;
    margin-top: 60px;
    display: grid;
    grid-template-rows: 320px 100px;
    grid-template-columns: 347px 555px;
    justify-items: center;
    margin-bottom: 155px;
}

.try {margin-left: 568px;
margin-top: 235px;}

.logo1 {
    width: 80px;
    float: left;
    margin-top: 0px;
    margin-left: 35px;
}

button1 {
    padding: 2em;
    border-radius: 2em;
    font-family: Poiret One;
    font-size: 20px;
    background-color: white;
    transition: .2s;
    border: none;
    background-color: white;
}

button1:hover {
    transform: scale(1.05); background-color: white; }
